<!DOCTYPE html>
<html>
<head>
	<title>farmConnect</title>
	<meta charset="UTF-8">
	{% load static %}
    <link rel="stylesheet" href="{% static 'connect/style.css' %}">
    <link rel="shortcut icon" href="{% static 'logo.png' %}">
	<style>
		h1 {text-align: center;}
		h2 {text-align: center;}
		.item {
			display: inline-block;
			width: 250px;
			margin: 20px;
			text-align: center;
			vertical-align: top;
		}
		.item img {
			max-width: 100%;
		}
		.item p {
			margin: 10px;
		}
	</style>
		<h1>Welcome to farmConnect</h1>
		<h2>Select the Items you want to Buy</h2>
</head>
<body>
	<form action="#" method="post">
		<main>
			<section class="item">
				<h2>Wheat</h2>
				<img src="{% static 'commodities/Wheat.jpg' %}" alt="Item 1">
				<p>Price: $10.00</p>
				<input type="checkbox" name="item[]" value="Wheat">
			</section>
			<section class="item">
				<h2>Cracked Wheat</h2>
				<img src="{% static 'commodities/Cracked Wheat.jpg' %}" alt="Item 2">
				<p>Price: $20.00</p>
				<input type="checkbox" name="item[]" value="Cracked Wheat">
			</section>
			<section class="item">
				<h2>Corn</h2>
				<img src="{% static 'commodities/Corn.jpg' %}" alt="Item 3">
				<p>Price: $30.00</p>
				<input type="checkbox" name="item[]" value="Corn">
			</section>
			<section class="item">
				<h2>Barley</h2>
				<img src="{% static 'commodities/Barley.jpg' %}" alt="Item 4">
				<p>Price: $30.00</p>
				<input type="checkbox" name="item[]" value="Barley">
			</section>
			<section class="item">
				<h2>Semolina</h2>
				<img src="{% static 'commodities/Sooji.jpg' %}" alt="Item 5">
				<p>Price: $30.00</p>
				<input type="checkbox" name="item[]" value="Semolina">
			</section>
			<section class="item">
				<h2>Rice</h2>
				<img src="{% static 'commodities/Rice.jpg' %}" alt="Item 6">
				<p>Price: $30.00</p>
				<input type="checkbox" name="item[]" value="Rice">
			</section>
			<section class="item">
				<h2>Green Gram</h2>
				<img src="{% static 'commodities/Green Gram.jpg' %}" alt="Item 7">
				<p>Price: $30.00</p>
				<input type="checkbox" name="item[]" value="Green Gram">
			</section>
			<section class="item">
				<h2>Oats</h2>
				<img src="{% static 'commodities/Oats.jpg' %}" alt="Item 8">
				           <p>Price: $4.00</p>
                <input type="checkbox" name="item[]" value="Oats">
                </section>
                <section class="item">
                    <h2>Pearl Millet</h2>
                    <img src="{% static 'commodities/Pearl Millet.jpg' %}" alt="Item 3">
                                    <p>Price: $30.00</p>
                    <input type="checkbox" name="item[]" value="Pearl Millet">
                </section>
                <section class="item">
                    <h2>Sorghum</h2>
                    <img src="{% static 'commodities/Sorghum.jpg' %}" alt="Item 3">
                                    <input type="checkbox" name="item[]" value="Sorghum">
            </main>
        </body>
</html>